# Amaguem amb .ignore els següents documents.
# Ignorem tot el contingut dins de documents_necessaris.
documents_necessaris/*

# Excepte el document Explicació.txt.
!documents_necessaris/Explicació.txt

# Ignorem la carpeta .Rproj.user.
.Rproj.user/

# I els documents .Rhistory i .RData.
.Rhistory
.RData
